.posted{
	height: 48px;
	margin:30px 0 40px;
}
.posted > .photo{
	display: block;
	height: 45px;
	width: 45px;
	float: left;
	margin-right: 5px;
	margin-top: 8px;
}
.posted img{
	width: 100%;
	border-radius: 100%;
}
.posted > .name{
	float: left;
	line-height: 24px;
	padding-top:4px;
}
.posted > .name > .type{
	padding:3px 8px;
	
	color: white;
	border-radius: 15px;
	font-size: 0.8em;
}
.posted > .name > .copy{
	background-color: #42C02E;
}
.posted > .name > .pull{
	background-color: black;
}
.article .data{
	font-size: 1.2em;
}
.article .data img{
	max-width: 100%;
	max-height: 610px;
}

.article .heart{
	overflow: hidden;
	margin: 65px 0;
}
.article .heart > .heart-l > ul{
	list-style: none;
	padding:0;
}
.article .heart > .heart-l > ul > li{
	float: left;
	margin-right: 10px;
}
.article .heart > .heart-l > ul > li > a,
.article .heart > .heart-r > a{
	display: block;
	background-color: #42C02E;
	padding:8px 28px;
	border-radius: 40px;
	color: white;
	text-decoration: none;
}
.article .heart > .heart-l > ul > li:first-child > a{
	background-color: #E9816D;
}
.article .heart > .heart-l > ul > li:last-child > a{
	background-color: #7B72E9;
}


.article .heart > .heart-l > ul > li > a:hover{
	color: #eee;
}
.article .heart > .heart-l > ul > li > a:active{
	color: #666;
}
.article .heart > .heart-r > a{
	background-color: transparent;
	color: #FEAE1B;
	border:1px solid #FEAE1B;

}
.article > .comment{
	margin: 65px 0;
	overflow: hidden;
}

.article > .comment .textform{
	position: relative;
}

.article > .comment .textform .mode{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;left:0;
}
.article > .comment .sincelogin{
	height: 50px;
	width: 150px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-top:-25px;
	margin-left:-75px;
	line-height: 50px;
}


.article > .comment > .posted{
	padding:0;
	margin: 0;
}
.article > .comment textarea{
	max-width: 100%;
	background-color: #eee;
}
.article > .comment .postbtn{
	margin:15px 0;
	overflow: hidden;
}
.article > .comment .comment-count{
	font-weight: 900;
	font-size: 16px;
}

/*comment*/
.article .comment-data{
	margin-bottom: 25px;
}

.article .comment-data > .comment-author{
	margin-bottom: 15px;
	overflow: hidden;
}
.article .comment-author .photo{
	padding:0;
	margin-right: 5px;
}
.article .comment-author .photo > img{
	width: 38px;
	height: 38px;
	border-radius: 19px;
}
.article .comment-author .info > p{
	margin-bottom: 0;
}
.article .comment-reply{}
.article .comment-reply > .reply-list{
	border-left:3px solid #eee;
	padding-left:5px;
}
.article .comment-reply > .reply-list > .reply-item{
	margin-bottom: 25px;
}
