.content .sublist-title,.content .sublist-tab,.content .sublist-items{
	margin-bottom: 25px;
}
.content .sublist-title{
	width: 100%;
	height: 100px;
	background-color: #FEBB50;
	border-radius: 5px;
	line-height: 100px;
	color: white;
}
.content .sublist-title .pull-left{
		font-size: 1.6em;
}
.content .sublist-tab{
	padding: 0;
}



/*mid*/
@media (max-width:970px) {
	.content .sublist-title{
		height: 75px;
		line-height: 75px;
	}
	.content .sublist-title h3{

	}
}

/*min*/
@media (max-width:750px) {
	.content .sublist-title{
		height: 50px;
		line-height: 50px;
	}
}



.content .subject-tab{
	margin-bottom:25px;
	overflow-y: hidden;
}
.content .subject-tab ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	border-bottom: 2px solid #efefef;
	width: 320px;
}
.content .subject-tab ul li{
	float: left;
	height: 45px;
	border-bottom:2px solid transparent;
	display: block;
	padding: 0 15px;
	line-height: 45px;
	cursor: pointer;
}
.content .subject-tab ul li:hover,
.content .subject-tab ul li.active{
	border-bottom:2px solid #666;
}
.content .subject-tab ul li > a{
	color: #666;
	text-decoration: none;
	display: block;
}
.content .subject-tab ul li > a:hover,
.content .subject-tab ul li > a:active,
.content .subject-tab ul li > a:visited{
	color: #333;
	text-decoration: none;
}

/*items*/
.content .sublist-items{
	padding: 0;
}
.content .sublist-items > ul{
	list-style: none;
	padding: 20px 0;
	overflow: hidden;
}
.content .sublist-items > ul > .item{
	padding:25px 0px 75px 0px;
}
.content .sublist-items > ul .sub-wrap{
	position: relative;
	width: 90%;
	margin:auto;
	padding:0 5px;
	/*height: 250px;*/
	border-radius: 10px;
	border:1px solid #ddd;
	box-shadow: 0 0px 5px rgba(0,0,0,.1);
	background-color: #F8F8F8;
}
.content .sublist-items > ul .sub-wrap:hover{

	box-shadow: 0 0px 20px rgba(0,0,0,.1);
}
.content .sublist-items > ul .sub-wrap a.img{
	width: 80px;
	height: 80px;
	position: absolute;
	top:-40px;
	left: 50%;
	margin-left:-40px;
	overflow: hidden;
	box-shadow: 0 0px 20px rgba(0,0,0,.1);
	border:1px solid #fef;
}
.content .sublist-items > ul .sub-wrap .cont{
	padding-top: 50px;
}
.content .sublist-items > ul .sub-wrap  h3{
	font-weight: 600;
}
.content .sublist-items > ul .sub-wrap  h3 > a:hover,
.content .sublist-items > ul .sub-wrap  h3 > a:active,
.content .sublist-items > ul .sub-wrap  h3 > a:visited{
	color: #666;
	text-decoration: none;
}
.content .sublist-items > ul .sub-wrap .intry{
	background-color: #42C02E;
	padding:10px 25px;
	border-radius: 20px;
	color: white;
}
.content .sublist-items > ul .sub-wrap p{
	margin-bottom: 15px;
}